header{
    width:100%;
    background: #71F6FF;
    height:fit-content;
}

#logo{
    width:12%;
    margin: 0.5%;
    display: inline-block;
    float:left;
}

header > a{
    background: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: x-large;
    color: #000000;
    display: inline-block;
    margin-top: 0.5%;
    padding: 2.5%;
    float: left;
}

header> h1{
   background: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: x-large;
    color: #000000;
    display: inline-block;
    margin-top: 0.5%;
    margin-left: 0.5%;
    padding: 2.5%;
}

nav{
    float:right;
    clear:left;
    display: inline;
}

nav> a{
     display:inline-block;
    margin: 0px 0-2px -3px;
    float: right;
    padding:5px 40px;
    border: 3px solid #308D23;
    border-radius: 20px 20px 0px 0px;
    font-family: Roboto;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-decoration: none;
}



hr{
    width:100%;
    display: block;
    clear:both;
    color: #308D23;
    border: 2px solid;
}

#dziecko-radosne{
  float: left;
  width: 50%;
}

#intro main{
  display:inline-block;
  width:50%;
  background:blue;
  display: table;
  clear: right;
 }

 #intro h1{
   padding:10%;
   padding-bottom:2%;
   font-family: Roboto;
  font-weight: bold;
  font-size: 54px;
  line-height: 60px;
 }

 #intro p{
   padding:0% 10% 10%;
   font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

 }

.promo{
  width:100%;
  border-radius: 10px 10px 0px 0px;
}

#promocje {
  display: flex;
  margin: 4%;
}

.column {
  flex: 33.3%;
}

#promocje figcaption{
  text-align:center;
  background: blue;
  padding: 5%;
  font-family: Roboto;
font-weight: 500;
font-size: 28px;
line-height: 33px;
text-align: center;
  border-radius: 0px 0px 10px 10px;

}

#nasza_oferta{
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
}

.klient main{
  display:inline-block;
  width:50%;
  background:blue;
  clear: right;
 }

 .klient h2{
   padding:2%;
   font-family: Roboto;
   font-weight: bold;
  font-size: 32px;
  line-height: 127.69%;
  padding-left: 10%;
 }

 .klient p{
   font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 127.69%;
padding-left: 10%;
padding-right: 10%;
padding-bottom: 5%;
 }

 .klient aside{
   width:50%;
   float: left;
 }


.klient img{
  width:100%;
  height:100%;
  border-radius: 0px 50px 50px 0px;
}

#marki span{
  font-family: Roboto;
  font-size: 32px;
  line-height: 273.69%;
  text-align: center;
  display:block;
}

#marki img{
  display:inline-block;
  align-items: center;
  width:20%;
  margin: 2%;
}

#marki figure{
  text-align:center;
}

#galeria{
  width:100%;
  background:blue;
}

#galeria img{
  width: 33%;
  display:inline;
}

#godziny_otwarcia{
  background-image: url("https://raw.githubusercontent.com/Nokamala/bambino/master/ph.jpg");
  text-align:center;
}

#godziny_otwarcia h2{
  margin-right: 29.3%;
  margin-left:29.3%;
  margin-bottom: 0px;
  padding-top:2%;
  padding-bottom: 2%;
  background: blue;
}

#godziny_otwarcia ul{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 150%;
/* or 42px */

text-align: center;
  
  background:blue;
  list-style-type:none;
  display: inline-block;
  padding-inline-start: 0px;
  padding: 5%;
  padding-top: 1%;
  margin-bottom: 0px;
}

#dni_tygodnia{
  margin-right:0p;
  margin-block-start: 0em;
    margin-block-end: 1em;
}

#hrs{
  margin-right:0;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

#Kontakt{
  margin: 5%;
  margin-bottom: 0px;
  background: blue;
  height: fit-content;
}

#Kontakt h2{
  font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 150%;
/* identical to box height, or 72px */

display: inline-block;
align-items: center;
text-align: center;
}

#Kontakt p{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
/* or 208% */

text-align: center;
}


#dane{
  width:45%;
  padding: 2%;
  text-align: center;
  display:inline-block;
  float: left;
}

#dane img{
  width:40px;
  height: 40px;
  padding: 5%
  }

#photo{
  width: 10%;
  display: inline-block;
  
}

#maps{
  width:100%;
  text-align:center;
  margin-bottom: 6%;
}

#maps iframe{
  width:90%;
} 

#footer a{
  width: 20px;
  hight: 20px;
}
