@font-face {
  font-family:Roboto;
  src: url('Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-bold;
  src: url('Roboto/Roboto-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: RobotoLight;
  src: url('Roboto/Roboto-Light.ttf');
  font-weight: lighter;
}

@font-face{
  font-family: Oswald;
  src: url('Oswald/Oswald-Regular.ttf')
}

@font-face{
  font-family: Oswald;
  src: url('Oswald/Oswald-Bold.ttf')
  font-weight: bold;
}

header{
  width:100%;
  background: #ffffff;
}

#logo{
  width:15%;
  margin: 0.5%;
  display: inline-block;
  float:left;
}

header > a{
  background: white;
  font-family: Oswald;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-large;
  color: #000000;
  display: inline-block;
  margin-top: 0.5%;
  padding: 1.5%;
  float: left;
  font-size: 34px;
}

#fbheader{
    display: inline-block;
    float: right;
    /* clear: left; */
    margin-right: 5%;

}

header> h1{
  background: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: normal;
  font-size: 34px;
  color: #000000;
  display: inline-block;
  margin-top: 1%;
  margin-left: 30%;
  padding: 1.5%;
}

nav{
  float:right;
  clear: both;
  display: inline-block;
}

nav> a{
  display:inline-block;
  margin: 0px 0-2px -3px;
  float: right;
  padding: 5px 70px;
  border: 3px solid #308D23;
  border-radius: 20px 20px 0px 0px;
  font-family: Roboto;
  font-size: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0F6C02;
  text-decoration: none;
}

nav> a:hover{
  background: #E93083;
  color: #FFFFFF;
}

nav> a:active{
  color: #E93083;
}

nav> a:focus{
  background: #E93083;
  color: #FFFFFF;
}

hr{
  width:100%;
  display: block;
  clear:both;
  color: #308D23;
  border: 2px solid;
  /* margin-top: 11%; */
}

#firsthr{
  border: 5px solid;
}

#lasthr{
  margin-top:11%;
  border: 5px solid;
}

#dziecko-radosne{
  float: left;
  width: 50%;
}

#intro main{
  display:inline-block;
  width:50%;
  background:#0A84FF;
  display: table;
  clear: right;
 }

#intro h1{
  padding:10%;
  padding-bottom:2%;
  font-family: Oswald;
  color: #ffffff;
  font-weight: bold;
  font-size: 54px;
  line-height: 60px;
 }

 #intro p{
  padding: 0% 10% 14%;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
 }

.promo{
  width:100%;
  border-radius: 10px 10px 0px 0px;
}

#promocje {
  display: flex;
  margin: 4%;
}

.column {
  flex: 33.3%;
}

#promocje figcaption{
  text-align:center;
  padding: 5%;
  font-family: Roboto;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
}

#fg_kdr{
  background: #0A84FF;
  color: #ffffff;
}

#kdr{
  width: 381px;
  height: 253.8px;
}

#fg_ksk{
  background: #308D23;
  color: #ffffff;
}

#fg_bon{
  background: #E93083;
  color: #ffffff;
}

#nasza_oferta{
  text-align: center;
  font-weight: bold;
  font-family: Oswald;
  font-size: 36px;
  line-height: 60px;
  margin: 2.3%;
  text-decoration: underline;
}

.klient main{
  display:inline-block;
  width:50%;
  clear: right;
 }

.klient h2{
  /* padding:2%; */
  font-family: Roboto-Bold;
  /* font-family: Roboto; */
  /* font-weight: bold; */
  font-size: 32px;
  line-height: 127.69%;
  padding-left: 10%;
  margin-top: 3px;
  /* text-align: center; */
 }

.klient p{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 127.69%;
  padding-left: 10%;
  padding-right: 10%;
  /* padding-bottom: 5%; */
 }

.klient aside{
  width:50%;
  float: left;
 }


.klient img{
  width:100%;
  height:100%;
  border-radius: 0px 50px 50px 0px;
}

#klient_hurt h2, #klient_przedsz h2{
  margin-top: 8%
}

#marki span{
  font-family: Roboto;
  font-size: 32px;
  font-weight: bold;
  line-height: 273.69%;
  text-align: center;
  display:block;
  color: #0F6C02;
}

#marki img{
  display:inline-block;
  align-items: center;
  width:20%;
  margin: 2%;
}

#marki figure{
  text-align:center;
}

#galeria{
  width:100%;
  height: min-content;
}

#galeria img{
  height: 355px;
  width: 33.1%;
  display:inline;
}

#godziny_tlo{
  margin-top: 5%;
  background: #308D23;
  background-image: url('../imgs/kredki1.jpg');
  text-align:center;
  height: fit-content;
  align-content: center;
  align-items: center;
}

#godziny_otwarcia{
  background: #E93083;
  color: #ffffff;
  margin-left: 30%;
  margin-right: 30%;
  height: 100%;
  font-family: Oswald;
  font-size: 28px;
  line-height: 150%;
}

#godziny_otwarcia h2{
  padding-top: 8%;
}

#godziny_otwarcia ul{
  padding-top: 0%;
  font-family: Roboto;
  display: inline-block;
  list-style-type: none;
  list-style-position: outside;
  margin-inline-end: 10px;
}

#dni_tygodnia{
  padding-inline-start: 0px;
  font-weight: bold;
}

#Kontakt{
  margin: 5%;
  margin-bottom: 0px;
  background: #0A84FF;
  color: #ffffff;
  height: 550px;
}

#Kontakt h2{
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 150%;
  display: inline-block;
  align-items: center;
  text-align: center;
}

#Kontakt p{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
/* or 208% */
  text-align: center;
}

#Kontakt a{
  color: #ffffff;
  font-size: 24px;
}

#dane{
  width:45%;
  padding: 2%;
  text-align: center;
  display:inline-block;
  float: left;
}

#dane img{
  width:40px;
  height: 40px;
  padding: 5%;
}

#photo{
  height: 550px;
  width: 51%;
  display: inline-block;
}

#photo img{
  width: 100%;
  height: 100%;
}

#maps{
  width:100%;
  text-align:center;
  margin-bottom: 6%;
}

#maps iframe{
  width:90%;
}


#footerhr{
  color: #000000;
  border: 1px solid;
}

#footertop{
  display: inline;
  text-decoration: none;
  width: 20px;
  height: 20px;
  font-family: Oswald;
  font-face: Oswald;
  font-weight:bold;
  margin-left:5%;
  margin-top: 2%;
}

#footertop nav{
  display: inline;
  height: 20px;
  font-family: Oswald;
  font-face: Oswald;
  font-weight:bold;
}

#fbfooter{
  margin-inline-end: 1%;
  margin-inline-start:30%;
}

.footernav{
  color: #000000;
  text-decoration:none;
  text-transform: uppercase;
  margin-right: 50px;
  float: right;
}

#footerlower{
  color: #FFFFFF;
  text-align:center;
  margin-top: 1%;
  padding: 1%;
  background: #308D23;
}
